<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            body{
            background: url("/static/201908059658/src/img/login.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>
<body >
    <div style="text-align: center">
        <h1>
            <br>
            欢迎 {{ username }} 使用接口测试平台
        </h1>
        <h3>welcome to use Apitest</h3>
        <textarea id="tucao_input" cols="50" rows="10" style="border-radius:5px;padding-left:10px;box-shadow:4px 4px 9px grey" placeholder="匿名吐槽专用，点击培，按钮开喷开发者"></textarea>
        <br>
        <button onclick="pei()">配！！！！！！</button>
    </div>
<!--    "tucao_text":document.getElementById("tucao_input").value,
          这种是拼接的json字符  路径上的信息
-->
    <script>
        function pei(){
            $.get("/pei/",{
                "tucao_text":document.getElementById("tucao_input").value,
            },function (ret){
                alter("已成功吐槽")
            })
        }
    </script>

</body>
</html>