<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center">
        <h1 style="color:green"> 欢迎 {{ username }} 来到接口测试平台首页</h1>
<h3>welcome to APITEST</h3>
        <h2>如何使用</h2>
        1.打开左侧菜单<br>
        2.找到对应功能<br>
        3.点击进入<br>
    <h2>更新信息:</h2>
    <span>项目模块管理上线比你高修复一直bug</span>

    <h2>反馈:</h2>
    <span>如有问题发邮件xxxxxxx</span><br>
    <span>或者进入<a href="www.baidu.com">百度</a>自行搜索去把</span>
    <img src="static/201908059658/src/img/mm.PNG" alt="aa">
    </div>

</body>
</html>